**node_modules**
**vendor**
**.env**
!**.env.example**
.idea
!.idea/prettier.xml
!.idea/watcherTasks.xml

**/.expo/
**dist**
*.orig.*
**/web-build/
.DS_Store

build/
.idea
*.obb
*.apk

yarn-error.log

expo-env.d.ts
.gradle
