.vscode/launch.json
.idea/*
phpinfo.php
log/log_erros.txt
classes/pagamento.php
meuestoquedigital/src/Config.php
teste-tempo-de-requisicao.php
vendor
downloads/*.jpeg
downloads/videos/*
teste.json
teste.php
src/model/salvaComprador.php
node_modules/.yarn-integrity
yarn-error.log
src/temp/*.png
src/temp/downloads/**
.idea/
documentacao/node_modules
documentacao/.next
documentacao/yarn.lock
node_modules/
!.env.php
log/*.log
opensearch/*.conf
redis/Dockerfile
yt-dlp
