.titulo{
    width: 450px;
    text-align: center;
    color: #2f79b9;
    font-family: Roboto;
    font-size: 40px;
    margin: 20px;
    transform: translate(-60px, -10px);

}
.container-fluid{
    background-color: whitesmoke;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
}
.row{
    margin: 5px;
}